.img-fluid-logo {
    width: 20%;
    }

.search-icon {
    color: aliceblue;
}

/*Para centrar gif p/splash*/
.centrar-Gif {
    height: 100vh;
}

.btn-color {
    background-color: blueviolet;
}

.img-fluid-texto-transicion {
    width: 60%;
}

.caja-imagen {
    width: 75%;
    border: solid 1px #AEB3AB;
}

.img-fluid-places {
    width: auto;
}

.fa-map-marked-alt {
    color: aliceblue;
}

.restaurant-type {
    background-color: #AEB3AB;
}

