.img-fluid-logo {
    width: 30%;
    }

.search-icon {
    color: aliceblue;
}

.centrar-Gif {
    height: 100vh;
}

.btn-color {
    background-color: blueviolet;
}

.mapa-imagen {
    align-content: center;
    border: solid 1px #AEB3AB;
}

.texto-transicion {
    color: blueviolet;
        text-shadow: 2px 2px 2px rgb(90, 90, 116);
}