.img-fluid-logo {
    width: 30%;
    }

.search-icon {
    color: aliceblue;
}

.centrar-Gif {
    height: 100vh;
}

.btn-color {
    background-color: blueviolet;
}

.mapa-imagen {
    align-content: center;
    border: solid 1px #AEB3AB;
}

.img-fluid-texto-transicion {
    width: 60%;
}

/*.caja-imagen {
    align-content: center;
    border: solid 1px #AEB3AB;
}*/